#jsorrery {
  opacity: 1;
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  color: #aaa;
  background: black;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  height: 100vh; }
#jsorrery h2 {
    font-family: "Quattrocento", serif;
    font-weight: normal; }
#jsorrery a {
    color: #fff; }
#jsorrery .helpContent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    background: rgba(0, 0, 0, 0.8);
    width: 60%;
    min-width: 400px;
    max-height: 80%;
    padding: 0;
    border-bottom: 1px #222 solid;
    font-family: "Quattrocento", serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    color: #aaa;
    text-align: justify;
    overflow-y: scroll;
    opacity: 0;
    display: none;
    padding: 80px 20%; }
#jsorrery .helpContent h2 {
      color: #fff;
      text-shadow: 0 0 2px #555; }
#jsorrery .close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    font-size: 22px;
    transition-duration: 0.5s; }
#jsorrery .close:hover {
      color: #fff; }
#jsorrery .close.inflow {
      font-size: inherit;
      position: auto;
      right: auto;
      top: auto; }

#credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer; }

.planetLabel {
  cursor: default !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(25, 25, 25, 0.7);
  padding: 3px;
  font-size: 9px;
  left: 24px;
  white-space: nowrap;
  z-index: 50; }

.eventLabel {
  cursor: default !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  margin-left: -1px;
  margin-top: -1px;
  background: #fff; }
  .eventLabel .line {
    transform-origin: 0 0;
    width: 1px;
    height: 100px;
    border-left: 1px #333 solid;
    position: absolute;
    left: 1px; }
  .eventLabel .tx {
    position: absolute;
    background: rgba(25, 25, 25, 0.7);
    font-size: 9px;
    padding: 3px;
    white-space: nowrap;
    border-bottom: 1px #333 solid;
    text-align: center; }

.planetSpot {
  cursor: default !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.5px rgba(255, 255, 255, 0.2) solid;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px; }

.debug {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 10px;
  z-index: 9999; }

#stats {
  position: absolute;
  bottom: 0;
  left: 0; }
  #stats #fps {
    background: transparent !important; }
    #stats #fps #fpsText {
      color: #aaa !important; }
    #stats #fps #fpsGraph {
      display: none; }

.preload {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  .preload .title {
    /*border-top: 1px #240a00 solid;
		border-bottom: 1px #151d37 solid;/**/
    color: #444;
    position: relative;
    top: 50%;
    height: 90px;
    width: 150px;
    margin: 0 auto;
    margin-top: -45px;
    text-align: center; }
    .preload .title h1, .preload .title h2 {
      cursor: default; }
    .preload .title h3 {
      color: orange; }
    .preload .title h1 {
      font-size: 20px;
      letter-spacing: 6px;
      text-transform: uppercase;
      margin: 16px 0;
      transition-duration: 1s;
      color: #aaa;
      text-shadow: 0 0 2px #555; }
    .preload .title h2 {
      font-size: 12px;
      margin: 12px 0;
      letter-spacing: 6px; }
  .preload .orbit {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px #333 solid;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    animation: orbit 2s infinite linear; }
    .preload .orbit .planet {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: #333;
      position: absolute;
      top: 97px;
      left: -3px; }

@keyframes orbit {
  0% {
    -webkit-transform: perspective(600px) rotateX(65deg) rotateY(25deg) rotateZ(0deg); }
  100% {
    -webkit-transform: perspective(600px) rotateX(65deg) rotateY(25deg) rotateZ(360deg); } }

#status {
  height: 40px;
  padding: 10px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  #status div {
    -ms-flex-positive: 2;
        flex-grow: 2; }
    #status div#dateDisplay {
      height: 10px; }

#jsorrery {
  width: 50vw; /* Set the width to 50% of the viewport width */
  height: 50vh; /* Set the height to 50% of the viewport height */
  margin: auto;
  position: relative; /* Position absolute for centering */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

#title {
    margin : auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
#subtitle {
    margin : auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: gray;
}

.heading {
    margin : auto;
    width: 80%;
    padding: 10px;
    text-align: left;
    color: gray;
    text-decoration: underline;
}

.reference {
    margin : auto;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.quiz {
    margin : auto;
    width: 80%;
    padding: 10px;
    text-align: left;
}

p:not(.questions):not(.reference) {
    margin : auto;
    width: 80%;
    padding: 10px;
    text-align: left;
}

.table{
  margin-left: auto;
  margin-right: auto;
}

.img-container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 50vw;
}
.wrapper         {width:50%;height:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
